# Compiled
*.elc
my-lisp-loaddefs.el
my-extensions-loaddefs.el

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# local site files
/local.el
/local/
